/* Whole page */
body {

    background: #0f172a;

    color: white;

    font-family: Arial, sans-serif;

    padding: 40px;
}


/* Main title */
h1 {

    color: #38bdf8;

    font-size: 45px;

    margin-bottom: 10px;

    text-shadow:
        0 0 10px #38bdf8;
}


/* Section titles */
h2 {

    color: #c084fc;

    margin-top: 40px;
}


/* Upload form */
form {

    background: #1e293b;

    padding: 20px;

    border-radius: 15px;

    width: 400px;

    box-shadow:
        0 0 20px rgba(56, 189, 248, 0.3);
}


/* File input */
input[type="file"] {

    margin-bottom: 15px;

    color: white;
}


/* Buttons */
button {

    background: #38bdf8;

    border: none;

    padding: 12px 20px;

    border-radius: 10px;

    color: black;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


/* Hover effect */
button:hover {

    background: #7dd3fc;

    transform: scale(1.05);
}


/* Function cards */
.function-card {

    background: #1e293b;

    padding: 15px;

    border-radius: 12px;

    margin-top: 15px;

    width: 400px;

    box-shadow:
        0 0 15px rgba(192, 132, 252, 0.2);
}


/* Execute link */
a {

    color: #38bdf8;

    text-decoration: none;

    font-weight: bold;
}


a:hover {

    color: #7dd3fc;
}


/* Divider */
hr {

    border: 1px solid #334155;

    margin-top: 30px;
}
/*logs */
/* Dashboard layout */
.dashboard-layout {

    display: flex;

    gap: 30px;

    align-items: flex-start;
}


/* Execution log cards */
.log-card {

    background: #111827;

    border-left: 4px solid #38bdf8;

    padding: 15px;

    margin-top: 15px;

    width: 350px;

    border-radius: 12px;

    box-shadow:
        0 0 15px rgba(56, 189, 248, 0.2);
}


/* Log text */
.log-card p {

    margin: 8px 0;
}