/* static/style.css */

body {

    margin: 0;

    padding: 0;

    background: #020617;

    color: white;

    font-family: Arial, sans-serif;
}


/*layout*/
.main-container {

    display: flex;

    min-height: 100vh;
}


/*left panel*/
.left-panel {

    flex: 1;

    padding: 30px;
}


/*right panel*/
.right-panel {

    width: 500px;

    padding: 30px;

    background: #0f172a;

    border-left: 2px solid #1e293b;

    overflow-y: auto;
}


/*titles*/
h1 {

    font-size: 50px;

    color: #c084fc;
}


h2 {

    color: #38bdf8;
}


/*glass cards*/
.glass-box {

    background: rgba(30, 41, 59, 0.8);

    border: 1px solid #334155;

    border-radius: 16px;

    padding: 20px;

    margin-bottom: 25px;

    backdrop-filter: blur(10px);
}


/*forms*/
form {

    display: flex;

    flex-direction: column;

    gap: 15px;
}


/*buttons*/
button {

    background: #38bdf8;

    border: none;

    padding: 12px;

    border-radius: 10px;

    cursor: pointer;

    font-weight: bold;
}


/*function cards*/
.function-card {

    background: #111827;

    padding: 15px;

    border-radius: 12px;

    margin-bottom: 15px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}


/*logs*/
.log-card {

    background: #111827;

    padding: 15px;

    border-radius: 12px;

    margin-bottom: 15px;

    border-left: 4px solid #38bdf8;
}


/*docker terminal*/
#containers-box {

    white-space: pre-wrap;

    font-family: monospace;

    color: #38bdf8;
}


/*running status*/
.running {

    color: #4ade80;

    font-weight: bold;

    animation: pulse 1s infinite;
}


/*idle status*/
.idle {

    color: #94a3b8;
}


/*pulse animation*/
@keyframes pulse {

    0% {

        opacity: 1;
    }

    50% {

        opacity: 0.4;
    }

    100% {

        opacity: 1;
    }
}